# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pipenv environment
Pipfile.lock

# Virtual environments (if created locally)
.venv/
env/
venv/

# PyInstaller
*.spec
dist/
build/

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Logs
*.log

# Mac & Linux
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Output or temp
*.bak
*.tmp
*.swp
*.swo

